html, body {
	margin: 0;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
}
.splash-section {
	padding: 13rem 3rem 3rem;
	min-height: calc(80vh - 6rem);
	background: rgb(2,0,36);
	background: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(173,0,255,1) 100%);
}
/* header */
.page-header {
	position: fixed;
	padding: 3rem;
	width: calc(100% - 6rem);
	transition-duration: 0.3s;
	z-index: 99;
}
.page-header .header-inner {
	display: flex;
	max-width: 1920px;
	align-items: center;
	margin: auto;
}
.page-header.fixed .header-inner {
	background: rgba(47, 1, 70, 0.8);
	border-radius: 20px;
	padding: 0 1rem 0 2rem;
	top: 2rem;
	transition-duration: 0.3s;
}
.page-header.fixed .logo {
	padding: 2rem 0;
}
.page-header.fixed .logo img {
	height: 40px;
}
.logo img {
	height: 100px;
	transition-duration: 0.3s
}
.main-menu {
	margin-left: auto;
}
.main-menu ul li,
.social-menu ul li {
	list-style: none;
	display: inline-flex;
}
.main-menu ul li a,
.social-menu ul li a {
	color: white;
	text-decoration: none;
}
.main-menu ul li a {
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	padding: 0 1.5rem;
	transition-duration: 0.3s;
	opacity: 0.8;
}
.main-menu ul li a.active {
	font-weight: 700;
	opacity: 1;
}
.main-menu ul li a::after {
	position: absolute;
	width: 0;
	height: 2px;
	background: white;
	bottom: -8px;
	content: "";
	left: 50%;
	opacity: 0.8;
	transition-duration: 0.3s;
}
.main-menu ul li a.active::after {
	width: 20px;
	left: calc(50% - 10px);
	opacity: 1;
}
.main-menu ul li a:active,
.main-menu ul li a:focus {
	outline: none;
}
.social-menu {
	margin-left: 1rem;
}
.social-menu ul li a {
	font-size: 24px;
	padding: 0 1rem;
}
.social-menu ul li a:hover {
	animation: pop 0.4s cubic-bezier(.36,.07,.19,.97) infinite both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

/* Phrase - illustration */
.phrase-illustration {
	display: flex;
	padding: 0;
	justify-content: space-between;
}
.phrase-container {
	color: white;
	margin-top: 7rem;
}
.phrase-container h1,
.phrase-container h4 {
	font-weight: 400;
	max-width: 480px;
}
.phrase-container h1 {
	font-size: 52px;
}
.phrase-container h4 {
	font-size: 18px;
	max-width: 380px;
	margin-top: 4rem;
}
.illustration-container {
	transform: scale(1.2);
	z-index: 1;
}

/* pool info */
.pool-info {
	background-color: white;
	padding: 3rem 3rem 0;
}
.pool-info-tiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 52px;
	padding: 2rem 0;
}
.pool-info-tiles > div {
	box-shadow: 0 20px 80px rgba(216, 216, 216, 0.85);
	border-radius: 20px;
	background-color: white;
	padding: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.hardware-specs-tile {
	box-shadow: 0 20px 80px rgba(216, 216, 216, 0.85);
	border-radius: 20px;
	background-color: white;
	padding: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	margin-bottom: 4rem;
	margin-top: 52px;
}
.hardware-specs-container {
	display: flex;
	width: 100%;
	align-items: center;
	padding-top: 3rem;
}
.hardware-specs-container > div {
	flex: auto;
	text-align: center;
}
.hardware-specs-container > div i {
	color: #CDDFE9;
	font-size: 48px;
}
.hardware-specs-container > div h4 {
	color: #799FB5;
	font-size: 36px;
	font-weight: 800;
	margin-bottom: 0;
}
.pool-info-tile-title {
	color: #4F4F4F;
	font-size: 22px;
	font-weight: 400;
	margin: 0;
}
h1.pool-info-tile-value {
	font-weight: 800;
	font-size: 80px;
	background: -webkit-linear-gradient(113.17deg, #00A3FF 3.62%, #AD00FF 97.52%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 2rem 0 0;
	line-height: 1
}
h1.pool-info-tile-value#ada-price {
	background: -webkit-linear-gradient(45deg, #01C83C 3.62%, #00A3FF 97.52%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* footer */
footer {
	margin-top: 5rem;
	background: linear-gradient(360deg, #1F072B 0%, #5D1C7D 100%);
}
footer .lemons {
	background-image: url(../img/footer-lemons.png);
	padding: 3rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
footer p {
	font-size: 16px;
	margin-top: 2rem;
	color: white;
	font-weight: 400;
	margin-bottom: 0;
}

/* about */
.about {
	background-color: white;
	padding: 3rem;
}
.about-sections {
	display: flex;
}
.about-text {
	font-size: 18px;
	line-height: 2.1;
}

/* common */
.centered {
	text-align: center;
}
h1.section-title {
	font-weight: 700;
	font-size: 48px;
	color: #333;
}
.inner {
	max-width: 1480px;
	margin: auto;
}
strong {
	font-weight: 700;
}
.cta {
	background-color: #0C93FF;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 600;
	color: white;
	box-shadow: 0 20px 80px rgba(0, 163, 255, 0.5);
	text-decoration: none;
	padding: 1rem 2rem;
	margin-top: 5rem;
	display: inline-flex;
	transition-duration: 0.3s;
	outline: none;
}
.cta:hover {
	box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
	transition-duration: 0.3s;
}

@keyframes pop {
    0% { transform: rotate(-15deg); }
    50% { transform: rotate(15deg); }
    100% { transform: rotate(-15deg); }
}